*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F3F4EE;
}

.titleAccueil {
    font-size: 80px;
    text-align: center;
    padding-top: 130px;
    font-family: "futura-pt-bold", sans-serif;
    padding-bottom: 60px;
}

.navBarre {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    position: fixed;
    height: 80px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    padding-right: 30px;
    z-index: 1;
    text-align: center;
    border-bottom: 2px solid black;
}

.navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0%;
    padding-left: 60px;
    color: black;
    font-family: "futura-pt-bold", sans-serif;
}

.navContact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #49CAE4;
    color: white;
    padding: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 30px;
    border-radius: 30px;
}

.navImg {
    padding-left: 50px;
    height: 80px;
}

.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 800px;
    width: 100%;
    background-image: url("img/Parallax.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.containerLeftAcceuil {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin: 0%;
}

.containerRightAcceuil {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin: 0%;
}


.containerImage {
    display: block;
    height: 400px;
    width: 400px;
    border-radius: 50px;
}

.containerText {
    display: block;
    width: 450px;
    height: 400px;
}


footer {
    text-align: center;
    font-family: "futura-pt", sans-serif;
    padding-top: 30px;
    padding-bottom: 15px;
}

.acceuilSousTitle {
    font-family: "futura-pt-bold", sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.containerPLeft {
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    padding: 10px;
    padding-left: 0px;
}

.containerTitle {
    font-size: 40px;
    font-family: "futura-pt-bold", sans-serif;
    padding: 10px;
    padding-left: 0px;
}

.containerPRight {
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    padding: 10px;
    padding-right: 0px;
}

.containerUlRight {
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;

}

.containerUlLeft {
    padding-top: 20px;
    padding-left: 15px;
    font-family: "futura-pt", sans-serif;
    font-size: 18px;
}

.containerTitleRight {
    font-size: 40px;
    font-family: "futura-pt-bold", sans-serif;
    padding: 10px;
}

.logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.imgFooter {
    margin-top: 50px;
    height: 50px;
}

/* boutique casque */

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.article_title {
    font-family: "futura-pt-bold", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    width: 500px;
}

.article_content {
    display: block;
    margin-left: 30px;
}

.article_content ul {
    font-family: "futura-pt", sans-serif;
    font-size: 18px;
    margin-left: 20px;
    width: 500px;
}

.article_content h3 {
    margin-bottom: 20px;
}

.article_content li {
    margin-bottom: 20px;
}

.article img {
    height: 400px;
    width: 400px;
    border-radius: 30px;
}

.contactFormulaire {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}

.containerFormPrenomNom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.buttonFormulaire {
    background-color: #49CAE4;
    color: white;
    border: none;
    padding: 10px;
    padding-right: 30px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 10px;
    font-family: "futura-pt-bold", sans-serif;
    cursor: pointer;
}

.contactFormulaire textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.containerFormulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;

}

.MSPFormulaire {
    display: block;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
}

.numPhoneForm {
    display: block;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    width: 535px;
    height: 40px;
    border: 1px solid #425066;
}

.containerFormPrenomNom input{
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px ;
    width: 285px;
    height: 40px;
    border: 1px solid #425066;
}

.formEmail{
    display: block;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    height: 40px;
    border: 1px solid #425066;
}

.containerFormName{
    margin-left: 0px;
    margin-right: 30px;
}

.formulaireTexte {
    display: block;
    margin-top: 15px;
    padding: 10px;
    height: 100px;
    width: 600px;
    border-radius: 10px;
}
.containerNumForm{
    display: flex;
}

.selectIndicatif{
    border-radius: 15px 0px 0px 15px;
    padding:10px
}

/* 
#425066 opacity 40%
backgroundcolor F3F4EE */

@media screen and (max-width: 700px) {

    .titleAccueil {
        font-size: 50px;
        padding-top: 100px;
        padding-bottom: 40px;
    }

    .acceuilSousTitle {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .article {
        flex-direction: column;
    }

    .article img {
        height: 300px;
        width: 300px;
        margin-bottom: 20px;
    }


}