/*responsive iphone 14 pro max 430px x 932px*/

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F3F4EE;
}

.titleAccueil {
    font-size: 80px;
    text-align: center;
    padding-top: 130px;
    font-family: "futura-pt-bold", sans-serif;
    padding-bottom: 60px;
}

.CasqueSousTitle {
    font-family: "futura-pt-bold", sans-serif;
    font-size: 45px;
    text-align: center;
    width: 1200px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.containerH2Casque {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.navBarre {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    position: fixed;
    height: 80px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    padding-right: 30px;
    z-index: 1;
    text-align: center;
    border-bottom: 2px solid black;
}

.navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0%;
    padding-left: 60px;
    color: black;
    font-family: "futura-pt-bold", sans-serif;
}

.navContact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #49CAE4;
    color: white;
    padding: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 30px;
    border-radius: 30px;
}

.navImg {
    padding-left: 50px;
    height: 80px;
}

.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 800px;
    width: 100%;
    background-image: url("img/Parallax.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.parallaxMobile {
    display: none;
}

.containerLeftAcceuil {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin: 0%;
}

.containerRightAcceuil {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin: 0%;
}


.containerImage {
    display: block;
    height: 400px;
    width: 400px;
    border-radius: 50px;
}

.containerText {
    display: block;
    width: 450px;
    height: 400px;
}


footer {
    text-align: center;
    font-family: "futura-pt", sans-serif;
    padding-top: 30px;
    padding-bottom: 15px;
}

.acceuilSousTitle {
    font-family: "futura-pt-bold", sans-serif;
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.containerPLeft {
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    padding: 10px;
    padding-left: 0px;
}

.containerTitle {
    font-size: 40px;
    font-family: "futura-pt-bold", sans-serif;
    padding: 10px;
    padding-left: 0px;
}

.containerPRight {
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    padding: 10px;
    padding-right: 0px;
}

.containerUlRight {
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;

}

.containerUlLeft {
    padding-top: 20px;
    padding-left: 15px;
    font-family: "futura-pt", sans-serif;
    font-size: 18px;
}

.containerTitleRight {
    font-size: 40px;
    font-family: "futura-pt-bold", sans-serif;
    padding: 10px;
}

.logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.imgFooter {
    margin-top: 50px;
    height: 50px;
}

/* boutique casque */

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.article_title {
    font-family: "futura-pt-bold", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    width: 500px;
}

.article_content {
    display: block;
    margin-left: 30px;
}

.article_content ul {
    font-family: "futura-pt", sans-serif;
    font-size: 18px;
    margin-left: 20px;
    width: 500px;
}

.article_content h3 {
    margin-bottom: 20px;
}

.article_content li {
    margin-bottom: 20px;
}

.article img {
    height: 400px;
    width: 400px;
    border-radius: 30px;
}

.contactFormulaire {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}

.containerFormPrenomNom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.buttonFormulaire {
    background-color: #49CAE4;
    color: white;
    border: none;
    padding: 10px;
    padding-right: 30px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 10px;
    font-family: "futura-pt-bold", sans-serif;
    cursor: pointer;
}

.contactFormulaire textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.containerFormulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;

}

.MSPFormulaire {
    display: block;
    background-color: white;
    padding: 50px;
    border-radius: 15px;
}

.numPhoneForm {
    display: block;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    width: 535px;
    height: 40px;
    border: 1px solid #425066;
}

.containerFormPrenomNom input {
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 285px;
    height: 40px;
    border: 1px solid #425066;
}

.formEmail {
    display: block;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    height: 40px;
    border: 1px solid #425066;
}

.containerFormName {
    margin-left: 0px;
    margin-right: 30px;
}

.formulaireTexte {
    display: block;
    margin-top: 15px;
    padding: 10px;
    height: 100px;
    width: 600px;
    border-radius: 10px;
}

.containerNumForm {
    display: flex;
}

.selectIndicatif {
    border-radius: 15px 0px 0px 15px;
    padding: 10px
}

.parallaxContact {
    padding: 40px;
    display: flex;
    margin: 0;
    height: 800px;
    width: 100%;
    background-image: url("img/nsm.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 50px;
    justify-content: center;
    align-items: flex-end;

}

.titleContact {
    font-size: 80px;
    text-align: center;
    padding-top: 130px;
    font-family: "futura-pt-bold", sans-serif;
    padding-bottom: 60px;
}

.navBarreMobile {
    display: none;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    position: fixed;
    height: 80px;
    width: 100%;
    margin: 0%;
    padding: 0%;
    padding-right: 30px;
    z-index: 1;
    border-bottom: 2px solid black;
}

.navButtonMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0%;
    padding-left: 60px;
    color: white;
    font-family: "futura-pt-bold", sans-serif;
    background-color: #49CAE4;
    height: 500px;
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 80px;
}

.navButtonMobile li {
    margin-top: 30px;
    font-size: 24px;
    }

.menuBurger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

.menuBurger img {
    height: 70px;
    width: 90px;
}


.navImgMobile {
    padding-left: 50px;
    height: 80px;
}

.logoMenuBurger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 80px;
}

.panierArticle {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 100px;
}

.articleList {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid #425066;
    border-radius: 25px;
    width: 600px;
    height: 150px;
}

.panierImg {
    height: 150px;
    width: 150px;
    border: 1px solid #425066;
    border-right: none;
    border-radius: 25px 0px 0px 25px;
}

.panierTextArticle {
    display: flex;
    flex-direction: column;
}

.panierInfo {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    gap: 30px;
}

.titlePanier {
    font-family: "futura-pt-bold", sans-serif;
    font-size: 24px;
}

.PriceUnitaire {
    font-family: "futura-pt-bold", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    color: #49CAE4;
}

.PriceQuantite {
    display: block;
    margin-left: 100px;
    font-family: "futura-pt-bold", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: #425066;
}

.containerTextPanier {
    display: flex;
    width: 750px;
    padding-left: 20px;
}

.titleCart {
    font-size: 80px;
    text-align: center;
    padding-top: 30px;
    font-family: "futura-pt-bold", sans-serif;
    padding-bottom: 60px;
}

.inputPanier {
    width: 200px;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #425066;
    margin-bottom: 20px;
}

.containerTotalPanier {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
    width: 500px;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #425066;
    border-radius: 25px;
}

.titleTotalPanier {
    font-family: "futura-pt-bold", sans-serif;
    font-size: 24px;
}

.sousTotalPanier {
    display: block;
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
}

.Exp {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;

}

.taxe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}

.priceSousTotalPanier {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}


.BannerImg {
    background-image: url('img/BannerPanier.png');
    height: 1000px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.buttonCmd {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.btnCmd {
    display: block;
    text-align: left;
    background-color: #49CAE4;
    color: white;
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    width: 400px;
    font-family: "futura-pt-bold", sans-serif;
    cursor: pointer;
}

.containerPanier {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.OpenBurger{
    display:flex ;
}

.closeBurger{
    display: none;
}

.addPanier{
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #49CAE4;
    color: white;
    border: none;
    font-family: "futura-pt-bold", sans-serif;
    cursor: pointer;
}


/* 
#425066 opacity 40%
backgroundcolor F3F4EE */

@media screen and (max-width: 700px) {

    body,
    html {
        overflow-x: hidden;
    }


    .titleAccueil {
        font-size: 40px;
        margin: 0%;
        padding: 0%;
        padding-top: 100px;
        padding-bottom: 10px;
        width: 100%;
    }

    .acceuilSousTitle {
        display: none;
        ;
    }

    .acceuilSousTitle {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .article {
        flex-direction: column;
    }

    .article img {
        height: 300px;
        width: 300px;
        margin-bottom: 20px;
    }

    .navBarre {
        display: none;
    }

    .navBarreMobile {
        display: flex;
    }

    .menuBurger img {
        height: 50px;
        width: 70px;
        display: flex;
        flex-direction: column;
    }

    .navImgMobile {
        height: 60px;
        padding-left: 20px;
    }

    .parallax {
        display: none;
    }

    .parallaxMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 250px;
        width: 100%;
        background-image: url("img/Parallax.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .containerImage {
        height: 200px;
        width: auto;
        margin: 0px;
        margin-left: 20px;
        margin-right: 10px;
        border-radius: 1000px;
    }

    .containerPRight {
        width: 180px;
        height: 300px;
        font-size: 16px;
    }

    .containerTitleRight {
        font-size: 20px;
        width: 180px;
    }

    .containerUlRight {
        padding-top: 10px;
        font-size: 16px;
        width: 180px;
        margin: 0px;
    }

    .containerRightAcceuil {
        padding-top: 20px;
        height: 650px;
    }

    .containerTitle {
        padding-left: 20px;
        font-size: 20px;
    }

    .containerPLeft {
        width: 170px;
        height: 300px;
        padding-left: 20px;
        font-size: 16px;
    }

    .containerLeftAcceuil {
        padding: 0%;
        padding-top: 20px;
        height: 650px;
    }

    .containerUlLeft {
        font-size: 16px;
        padding-top: 40px;
        padding-left: 35px;
        width: 100%;
    }


    .logoFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0%;

    }

    .logoFooter img {
        margin-top: 120px;
        width: 150px;
        height: 50px;
    }

    footer {
        font-size: 10px;

    }

    .containerLeftAcceuil,
    .containerRightAcceuil {
        height: 550px;
        width: 400px;

    }

    .containerLeftAcceuil {
        margin-left: 5px;
    }

    .containerRightAcceuil {
        margin-top: 40px;
    }

    .article_title {
        width: 300px;
        font-size: 20px;
    }

    .article_content ul {
        width: 300px;
        font-size: 16px;
    }


    .acceuilSousTitle {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .article {
        width: 400px;
        margin-bottom: 50px;
    }

    .article_title {
        width: 200px;
        font-size: 15px;
    }


    .article_content {
        width: 300px;
    }

    .containerH2Casque {
        text-align: center;

    }

    .titleAccueil {

        text-align: center;
        font-size: 18px;
    }


    .CasqueSousTitle {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .titleCart {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .panierArticle {
        margin-top: 50px;
        width: 350px;
    }

    .articleList {
        width: 300px;
        height: 100px;
        border-radius: 10px;
    }


    .panierImg {
        height: 100px;
        width: 100px;
        border-radius: 10px 0px 0px 10px;

    }

    .BannerImg {
        height: 200px;
        width: 430px;
    }

    .containerPanier {
        flex-direction: column;
        width: 400px;
        padding-left: 10px;
    }

    .PriceQuantite {
        font-size: 15px;
        margin-left: 0px;
    }

    .panierTextArticle {
        height: 50px;
        margin: 0px;
        padding: 0px;
    }

    .article img {
        height: 150px;
        width: 150px;
    }

    .titlePanier {
        font-size: 20px;
    }

    .PriceUnitaire {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .inputPanier {
        width: 100px;
        height: 5px;
        font-size: 15px;
        border-radius: 5px;
        margin-bottom: 3px;
    }

    .inputPanier input {
        height: 5px;
    }

    .inputPanier::placeholder {
        font-size: 15px;
    }

    .panierInfo {
        height: 20px;
        margin-right: 10px;
        gap: 0px;
    }

    .containerTextPanier {
        width: 250px;
        height: 50px;
        padding: 0px;
        padding-left: 10px;
        margin: 0px;
    }

    .containerTotalPanier {
        flex-direction: column;
        height: 300px;
        width: 300px;
        padding: 10px;
        margin-top: 20px;
    }

    .buttonCmd {
        padding-top: 0px;
    }

    .btnCmd {
        width: 250px;
        font-size: 15px;
        padding: 10px;
    }

    .parallaxContact {
        height: 400px;
        background-attachment: scroll;
    }

    h1.titleContact {
        font-size: 25px;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .ContactFormulaire {
        margin-left: 12px;
        width: 350px;
    }

    .MSPFormulaire {
        padding: 20px;
        width: 350px;
    }

    .ContactFormulaire textarea {
        height: 80px;
        width: 300px;
    }

    .containerNumForm{
        width: 300px;
    }

    .containerFormPrenomNom{
        flex-direction: column;
        text-align: center;
        align-items: normal;
        width: 300px;
    }

    .containerFormPrenomNom input{
        width: 300px;
        margin-right: 0px;
    }

    .formEmail{
        width: 300px;
    }

    .ContactFormName{
        width: 300px;
    }

    .navHrefMobile{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 20px;
        color: white;

    }


    



}